<header>
  <div class="nav-header">
    <div class="text" id="btn">情報システム工学科1年生向け口コミアプリ</div>
    <div id="cancel"></div>
  </div>
  <div class="item">
    <a href="#">
      <div class="text" id="modal-open">新規作成</div>
    </a>
    <div id="modal-bg"></div>
    <div id="modal-container">
      {% include "app/modal.html" %}
      <div id="modal-close">閉じる</div>
    </div>
  </div>
  <div class="item">
    <a href="#">
      <div class="text">Login</div>
    </a>
  </div>
  <div class="item">
    <a href="#">
      <div class="text">logout</div>
    </a>
  </div>
</header>
