<h1>口コミ入力欄</h1>
<form action="add" method="post" enctype="multipart/form-data">
  <input type="text" name="subject" placeholder="教科名" /><br />
  <input type="text" name="teacher" placeholder="教員名" /><br />
  <input type="text" name="day" placeholder="曜日" /><br />
  <input type="number" name="time" placeholder="開講時間" /><br />
  <input type="text" name="review" placeholder="レビュー(評価)" /><br />
  <input type="number" name="point" placeholder="五段階評価" /><br />
  <input type="file" name="pastImage" placeholder="過去問" /><br />
  <button type="submit">追加</button>
</form>
