<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/profile.css')}}"
    />
  </head>
  <body>
    {% include "app/header.html" %}
    <div class="profile-h1">
      <h1>{{user.name}} さんですね!</h1>
      <div class="profile">
        <img
          src="{{url_for('static', filename='images/ダウンロード.png')}}"
          alt=""
        />
        <div class="name">{{user.name}}</div>
        <div class="comment">
          ここに簡単な自己紹介が入ります。ここに簡単な自己紹介が入ります。ここに簡単な自己紹介が入ります。ここに簡単な自己紹介が入ります。
        </div>
      </div>
    </div>
    <a
      href="{{url_for('profile_edit', id=user.id)}}"
      role="button"
      class="btn btn-outline-primary"
      >編集</a
    >
    <script src="{{url_for('static', filename='javascript/modal.js')}}"></script>
  </body>
</html>
