<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/profile.css')}}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% include "app/header.html" %} {% with messages = get_flashed_messages() %}
    {% if messages %} {% for msg in messages %}
    <p class="alert alert-success" role="alert">{{msg}}</p>
    {% endfor %} {% endif %} {% endwith %}
    <div class="wrap">
      <div class="content">
        <h1 class="heading-lv1 text-center">
          {{user.name}} さんのプロフィール画面です
        </h1>
        <figure class="profile-image">
          {% if not current_user.userimage %}
          <img
            src="{{url_for('static', filename='default-image/user.png')}}"
            alt="ユーザ画像"
            width="300"
            height="300"
          />
          {% else %}
          <img
            src="/static/user/{{user.userimage}}"
            alt=""
            class="300"
            height="300"
          />
          {% endif %}
        </figure>
        <h2 class="heading-lv2 text-center">{{user.name}}</h2>
        <h3 class="heading-lv3 text-center">自己紹介</h3>
        <p class="text-center">{{user.comment}}</p>
        <p class="text text-center">
          <a href="{{url_for('index')}}">メインページ</a>
        </p>
        {% if current_user.is_authenticated %}
        <a
          href="{{url_for('profile_edit', user_id=user.id)}}"
          role="button"
          class="btn btn-outline-primary"
          >編集</a
        >

        {% endif %}
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script src="{{url_for('static', filename='javascript/modal.js')}}"></script>
  </body>
</html>
