* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: flex-end;
  background: #000;
  padding: 5px;
}

.nav-header {
  margin: 5px auto 5px 20px;
}
.item {
  width: 100px;
  height: 40px;
  margin: 5px;
}
.item:hover {
  background: tomato;
  border-radius: 3px;
}

.text {
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  color: white;
}

a {
  text-decoration: none;
}
.js-tabs ul.tab_menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.js-tabs ul.tab_menu li {
  display: inline;
  background: #666;
  margin: 0px;
  padding: 2px;
}
.js-tabs .tab_menu li a {
  padding: 3px;
}
.js-tabs .tab_menu li a:link,
.js-tabs .tab_menu li a:visited {
  background-color: #666;
  color: #fff;
}
.js-tabs .tab_menu li a.active:link,
.js-tabs .tab_menu li a.active:visited {
  background-color: #444;
  color: #fff;
}
.js-tabs .tab_menu li a:hover {
  background-color: #333;
  color: #f0f;
}
.tab_content {
  position: relative;
  height: 200px;
}
.tab_content div.page {
  width: 450px;
  height: 200px;
  position: absolute;
  color: #222;
}
#page1-1 {
  background-color: #ffa;
}
#page1-2 {
  background-color: #faf;
}
#page1-3 {
  background-color: #aff;
}

.box {
  width: 500px;
  margin: 100px auto;
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tab {
  border: 1px solid #000;
  border-bottom: none;
  padding: 6px;
  font-size: 12px;
  text-align: center;
  border-radius: 6px 6px 0 0;
  width: 30%;
}
.tab:hover {
  cursor: pointer;
}
.tab.is-active {
  background: #000;
  color: white;
}
.contents {
  border: 1px solid #000;
}
.content {
  padding: 16px;
  font-size: 16px;
}
