<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
  </head>
  <body>
    <h1>hello!</h1>
    <h2>kageyam</h2>
    <h2>yangyu</h2>
    <div class="item">
      <img src="static/images/01.png" alt="" />
      <img src="static/images/02.png" alt="" />
      <img src="static/images/03.png" alt="" />
    </div>
  </body>
</html>
